.grid-container{
    margin: 0;
    padding: 0;
    height: 400px;
    width: 400px
}
.sidebar {
    
}
.content-section {
    
}
.cta-button {
    
}
.footer-content {
    
}
.footer-section {
    
}